/* Resets */

* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Main Styles */

.main-container {
    width: 60%;
}

/* Header Styles */

.header-left {
    display: inline-block;
    width: 65%;
}

.header-left img {
    width: 580px;
    height: 250px;
}

.header-right {
    display: inline-block;
    width: 30%;
    margin-left: -15px;
}

.header-right img {
    height: 250px;
}

/* Column Styles */

.column-left {
    display: inline-block;
    width: 65%;
}

.column-right {
    display: inline-block;
    width: 33%;
}

