

/* Main Container Styles */
.main-container {
    width: 60%;
    margin-left: -8px;
    margin-top: -7px;
    font-size: small;
}

/* Header Styles */
.main-header {
    margin-right: 0;
}


/* Column styles */
.column-container {
    display: flex;
    margin-top: -3px;
}

.column-left {
    width: 290px;
    display: inline-block;
    align-self: flex-start;
    background-image: url(img/body-back-left.gif);
}

.column-left p {
    margin-right: 20px;
    text-align: justify;
    color: white;
    margin-top: 10px;
}

.column-right {
    border-left: 2px solid white;
    color: white;
    display: inline-block;
    width: 178px;
    height: 1731.66px;
    align-self: flex-start;
    background-image: url(img/body-back-right.gif);
}

.column-right span {
    color: rgb(224, 224, 24);
}

.main-nav {
    margin-left: 8px;
}

article h3 {
    color: rgb(224, 224, 24);
    border-bottom: 1px solid rgb(224, 224, 24);
    margin-left: 0.7em;
    margin-bottom: 0px;
    margin-right: 20px;
}

article p {
    margin-left: 1.2em;
}

nav ul li {
    background-color: rgb(106, 163, 172);
    margin-bottom: 0.2em;
    margin-right: 25px;
    text-align: left;
    list-style-type: none;
}

nav ul li:hover {
    background-color: rgb(31, 103, 197);
    color: white;
}

nav ul li:hover > a {
    color: white;
}

nav ul {
    padding-left: 0;
}

nav a {
    color: rgb(15, 99, 168);
    text-decoration: none;
}


/* Footer Styles */

.main-footer {
    position: absolute;
    top: 0px;
    right: 980px;
   
}

.main-footer ul li {
    list-style-type: none;
   border-bottom: 1px solid gray;
   width: 55px;
   text-align: right;
   padding-bottom: 5px;
   padding-top: 5px;
}


.main-footer ul li a {
    color: rgb(243, 191, 20);
    text-decoration: none;
}



